doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/navbar.css')
  link(rel='stylesheet' href='/css/tires2.css')
  title tires
// navbar starts here
header(style='position: absolute; top: 0px; width: 100%;')
  .top-nav
    nav.navbar.navbar-expand-lg.bg-body-tertiary
      .container-fluid
        .navbar-brand Dockville
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.nav-center
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link(href='home') Home
            li.nav-item
              a.nav-link.active(aria-current='page' href='/api/parkform') Parking 
            li.nav-item
              a.nav-link(href='/api/batteryform') Battery
            li.nav-item
              a.nav-link(href='tires') Tires
          .dropdown
            button.btn.dropdown-toggle.user-btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
              .user-image
                img(src='/images/user-image.jpg' alt='')
            ul.dropdown-menu
              li
                form(action='#' method='POST')
                  button.dropdown-item(type='button') Revenue data
              li
                form(action='#' method='POST')
                  button.dropdown-item(type='button') Want to log out
              // <li><button class="dropdown-item" type="button"><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Reset password</button></button></li>
              li
                button.dropdown-item(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal') Reset password
    // pop up for reset password starts here.
    #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h1#exampleModalLabel.modal-title.fs-5 Reset password
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            form
              .mb-3
                label.col-form-label(for='recipient-name') Enter email:
                input#recipient-name.form-control(type='text')
              .mb-3
                label.col-form-label(for='recipient-name') Old password:
                input#recipient-name.form-control(type='text')
              .mb-3
                label.col-form-label(for='recipient-name') New password:
                input#recipient-name.form-control(type='text')
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
            button.btn.btn-primary(type='button') Confirm changes
    // popup for reset password ends here.
// navbar ends here 
.container
  .title Car Tire Clinic
  form#form.my-form(method='POST' name='form' action='/api/tire/edit?id='+tire._id  onsubmit='return Validate(event)')
    .user__details
      .input__box
        span.details
          label(for='fname')  First Name
        input#fname(type='text' name='fname' value=tire.fname)
        span#fname-error
        
      .input__box
        span.details
          label(for='lname') Last Name
        input#lname(type='text' name='lname' value=tire.lname)
        span#lname-error
      .input__box
        span.details
          label(for='gender') Gender 
        select#gender(name='gender' value=tire.gender)
          option(selected='') 
          option(value='Female'  selected=tire.gender==='Female') Female
          option(value='Male'  selected=tire.gender==='Male') Male
        span#gender-error
      .input__box
        span.details
          label(for='contact')  Phone Contact
        input#contact(type='tel' name='contact' value=tire.contact)
        span#contact-error 
      .input__box
        span.details
          label(for='carmodel') Vehicle Model
        input#carmodel(type='text' name='carmodel' value=tire.carmodel)
        span#carmodel-error
      .input__box
        span.details
          label(for='tiremake')  Tire make 
        input#tiremake(type='text' name='tiremake' value=tire.tiremake)
        span#tiremake-error
      .input__box
        span.details
          label(for='tiresize')  Tire Size
        input#tiresize(type='text' name='tiresize' value=tire.tiresize)
        span#tiresize-error
      .input__box 
        span.details
          label(for='amount') Amount
        select#amount(input='' type='text' name='amount' value=tire.amount)
          option(value='')
          option(value='20000' selected=tire.amount===20000) 20000
          option(value='10000' selected=tire.amount===10000) 10000 
          option(value='15000' selected=tire.amount===15000) 15000 
        span#amount-error

      .input__box
        span.details
          label(for='carTireServices' ) Tire services
        select#carTireServices(input='' type='text' name='carTireServices' value=tire.carTireServices)
          option(value='')
          option(value='tirepressure' selected=tire.carTireServices==='tirepressure') Tire pressure 
          option(value='puncturefixing' selected=tire.carTireServices==='pressurefixing') Puncture fixing 
          option(value='valves' selected=tire.carTireServices==='valves') Valves 
        span#carTireServices-error   
      .input__box
        span.details
          label(for='amountt') Amount
        select#amount(input='' type='text' name='amountt' value=tire.amountt)
          option(value='' disabled) 
          option(value='500' selected=tire.amountt===500) 500
          option(value='5000' selected=tire.amountt===5000) 5000
          option(value='5000' selected=tire.amountt===5000) 5000
        span#amountt-error     
    .button
      input(type='submit' value='Register')
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js' integrity='sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js' integrity='sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS' crossorigin='anonymous')
script(src='/js/tires.js')
script(src='/js/tire.js')
